.client {
  height: 1549px;
  color: #ffffff;
  background-color: $color-blue-4;
  border-radius: 200px 0px 0px 0px;
}

.client__header {
  display: flex;
  padding-top: 94px;

  &--title {
    margin-right: 97px;
    width: 223px;
    font-family: $font-primary;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  &--description {
    width: 540px;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}

.client__logo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 111px;

  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4) {
    border-bottom: 1px solid #ffffff;
  }

  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7) {
    border-right: 1px solid #ffffff;
  }

  div:nth-child(8) {
    background-color:  rgba(31, 63, 104, 0.2);;
  }

  &--block {
    padding: 37px 43px 0;
    width: 235px;
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
  }

  &--link {
    text-transform: none;
    color: #ffffff;
  }
}
