.page-wrapper {
  margin: 0 auto;
  max-width: 1366px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.page-header {
  position: relative;
  height: 778px;
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.page-nav {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 1196px;
  justify-content: space-between;
  align-items: center;
}

.page-header__burger {
  width: 24px;
  height: 16px;
}

.page-header__title {
  margin-top: 86px;
  max-width: 515px;
  font-family: $font-title;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.055em;
  text-align: left;
  color: $color-text-primary;
}

.page-header__description {
  max-width: 425px;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;
  color: $color-text-primary;

}

.page-header__button {
  display: block;
  margin-top: 75px;
  width: 220px;
  padding: 15px 0;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}

.page-header__image {
  position: absolute;
  top: 104px;
  right: 23px;
  width: 688px;
  height: 613px;
}
