$desktop-width: 1280px;
$font-primary: "Gilroy-Regular", "Arial", sans-serif;
$font-secondary: "Gilroy-SemiBold", "Arial", sans-serif;
$font-title: "Galien-Regular", "Arial", sans-serif;
$color-primary: #ffffff;
$color-blue-1: rgba(31, 63, 104, 1);
$color-blue-2: rgba(49, 96, 153, 1);
$color-blue-4: rgba(90, 152, 208, 1);


