$desktop-width: 1280px;
$font-primary: "Gilroy-Regular", "Arial", sans-serif;
$font-title: "Galien-Regular", "Arial", sans-serif;
$color-text-primary: rgba(31, 63, 104, 1);
$color-text-secondary: rgba(49, 96, 153, 1);
$color-link: rgba(90, 152, 208, 1);


